<!DOCTYPE html> <html>
<head>
    <title>LED Control</title>
</head>
<body>
<h1>Ultimo botao escolhido [{{valor}}]</h1>
<form method="post">
    <p>Escolha o que vc quer acionar</p>
    <br>
    <div class="button">
        <button style="margin-top: 5px;" name ="valor" value='colar' type="Colar">Colar</button>
    </div>
    <br>
    <div class="button">
        <button style="margin-top: 5px;" name="valor" value='janela' type="Janela">Janela</button>
    </div>
    <br>
    <div class="button">
        <button style="margin-top: 5px;" name="valor" value='olhos' type="Olhos">Olhos</button>
    </div>
    <br>
    <div class="button">
        <button style="margin-top: 5px;" name="valor" value='todos' type="Todos">Todos</button>
    </div>
</form>
</body>
</html>